<!-- START OF FILTER Navigation -->



<div class="navbar navbar-default2 navbar-fixed-top fixed-element" data-offset-top="80" data-spy="affix">
    <div class="container">
        <div class="navbar-header">
        

        
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                <span class="sr-only">Toggle navigation</span> FILTERS <i class="fa fa-bars"></i>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse main-nav">
            <ul class="nav navbar-nav">


                <div class="container">
                    <div class="row">
                        <div class="row seven-cols">

                            <div class="filter-top">
                                <label for="example-text-input"
                                       class="col-md-1 col-form-label filter-top2">FILTERS</label>

                                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                    <div class="well filter">
                                        <form class="form-vertical">
                                            <div class="form-group filter">
                                                <select class="form-control filter" name="" id="location1">
                                                    <option value="">Kuala Lumpur</option>
                                                    <option value="">Selangor</option>
                                                    <option value="">Ampang</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                    <div class="well filter">
                                        <form class="form-vertical">
                                            <div class="form-group filter">
                                                <select class="form-control filter" name="" id="space">
                                                    <option value="">Space</option>
                                                    <option value="">Hot Desk</option>
                                                    <option value="">Shared Desk</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                    <div class="well filter">
                                        <form class="form-vertical">
                                            <div class="form-group filter">
                                                <select class="form-control filter" name="" id="capacity">
                                                    <option value="">Capacity</option>
                                                    <option value="">100</option>
                                                    <option value="">200+</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                    <div class="well filter">
                                        <form class="form-vertical">
                                            <div class="form-group filter">
                                                <select class="form-control filter" name="" id="price">
                                                    <option value="">Price</option>
                                                    <option value="">$1,000</option>
                                                    <option value="">$2,000</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                    <div class="well filter">
                                        <form class="form-vertical">
                                            <div class="form-group filter">
                                                <select class="form-control filter" name="" id="Amenities">
                                                    <option value="">Amenities</option>
                                                    <option value="">$1,000</option>
                                                    <option value="">$2,000</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                                    <div class="well filter">
                                        <form class="form-vertical">
                                            <div class="form-group filter">
                                                <select class="form-control filter" name="" id="Accessbility">
                                                    <option value="">Accessbility</option>
                                                    <option value="">$1,000</option>
                                                    <option value="">$2,000</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
</div>
<!-- END OF Navigation -->

<!-- LEFT -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 filter-content">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="MatchSpace Me Now"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>

            <h1> GOOGLEMAPS </h1>

        </div>
        <!-- END OF LEFT -->


        <!-- RIGHT -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 filter-content gap20">

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn filter-buttons">ALL</button>
                <button type="button" class="btn filter-buttons">SPACES</button>
                <button type="button" class="btn filter-buttons">PLACES</button>
                <div class="btn-group" role="group">
                    <button type="button" class="btn dropdown-toggle filter-buttons" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu filter">
                        <li><a href="#">Dropdown link</a></li>
                        <li><a href="#">Dropdown link</a></li>
                    </ul>
                </div>
            </div>


            <div class="filter-box">
                <div class="row">
        			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <br>
                        <img class="filter-img" src="content/img/01.jpg" alt="Image">
                    </div>

        			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <h4 class="filter title">Dedicated Desk at The Farm</h4>
                        <p class="filter p">Soho 447 Broadway, 2nd floor, New York, NY</p>
                        <br>
                        <p class="filter p"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Dedicated Desk for 1</p>
                        
                      <p> Rating &nbsp; <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</p>
                        
                    </div>

        			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <h4 class="filter from">From</h4>
                        <p class="filter price">RM 350/day</p>
                        <br>
                        <a href="www.google.com" class="filter-link">View Details</a>
                    </div>

                </div>
            </div>


            <div class="filter-box">
                <div class="row">
        			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <br>
                        <img class="filter-img" src="content/img/01.jpg" alt="Image">
                    </div>

        			<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                        <h4 class="filter title">Dedicated Desk at The Farm</h4>
                        <p class="filter p">Soho 447 Broadway, 2nd floor, New York, NY</p>
                        <br>
                        <p class="filter p"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Dedicated Desk for 1</p>
                        
                      <p> Rating &nbsp; <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
</p>
                        
                    </div>

        			<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <h4 class="filter from">From</h4>
                        <p class="filter price">RM 350/day</p>
                        <br>
                        <a href="www.google.com" class="filter-link">View Details</a>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<!-- END OF RIGHT -->
