<!-- Intro -->
<header class="intro">
    <div class="intro-body">
        <div class="container">


            I Am Looking For <div class="element"></div> Space

            <div class="introp">
                <div class="gap20">
                    Discover new possibilities for your business through environments, cultures and styles
                </div>
            </div>
            <!-- Search Engine -->
            <div class="col-sm-6 col-sm-offset-3">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control search-field" placeholder="Where do you need space?">
                    <span class="input-group-addon">
                </div>
                        <button type="submit" class="btn-stylish btn-lg btn-block">MATCHSPACE ME NOW</button>
                </span>
            </div>
        </div>

    </div>
    </div>

</header>
<!-- End oF Intro -->


<!-- Learn button Section -->


<section class="learn" id="learn">
    <div class="container">
        <div class="row">
            <button type="button" class="btn-block learn">  <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> CLICK HERE TO LEARN HOW TO USE MATCH SPACE </button>
        </div>


</section>

<!-- END OF Learn button Section -->


<!-- Types of Spaces Grid Section -->

<section id="featured">
    <div class="container">
        <div class="row">
            <div class="featured-font text-center gap40">
                TYPES OF SPACES
            </div>
        </div>


        <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 featured-item">
                <a href="http://www.google.com">
                    <div class="hovereffect large">
                        <img src="content/img/types/corporateoffices.jpg" class="img-responsive" alt="">

                        <div class="overlay">
                            <div class="hovermedium">
                                <h2>CORPORATE OFFICES</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 featured-item">
                <a href="http://www.google.com">
                    <div class="hovereffect">
                        <img src="content/img/types/coworking.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <h2>CO WORKING SPACE</h2>
                        </div>
                    </div>
                </a>
            </div>


            <div class="clearfix visible-xs-block"></div>


			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 featured-item">
                <a href="http://www.google.com">
                    <div class="hovereffect">
                        <img src="content/img/types/hotels.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <h2>HOTELS</h2>
                        </div>
                    </div>
                </a>
            </div>


			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 featured-item">
                <a href="http://www.google.com">
                    <div class="hovereffect">
                        <img src="content/img/types/serviceoffices.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <h2>SERVICE OFFICES</h2>
                        </div>
                    </div>
                </a>
            </div>


			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 featured-item">
                <a href="http://www.google.com">
                    <div class="hovereffect">
                        <img src="content/img/types/retailspace.jpg" class="img-responsive" alt="">
                        <div class="overlay">
                            <h2>RETAIL</h2>
                        </div>
                    </div>
                </a>
            </div>


            <div class="container">
                <div class="featured-item">
                    <a href="http://www.google.com">
                        <div class="hovereffect large">
                            <img src="content/img/types/restaurants.jpg" class="img-responsive" alt="">
                            <div class="overlay">
                                <h2>RESTAURANTS</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<!-- END OF Types of Spaces Grid Section -->


<!-- Star Canvas Featured Section -->
<section class="section-star" id="star">
    <div class="container">
        <div class="row">
            <div class="featured-font text-center gap20">
                FEATURED SPACES
            </div>
        </div>
    </div>


    <div class="text-center">
        <div class="star-pfont">
            Discover our Featured Spaces of the month
        </div>
    </div>
    <br>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="content/img/canvas01.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h1 class="canvas">Chania</h1>
                    <p class="canvas">The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
            </div>

            <div class="item">
                <img src="content/img/canvas01.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h1 class="canvas">Chania</h1>
                    <p class="canvas">The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
            </div>

            <div class="item">
                <img src="content/img/canvas01.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h1 class="canvas">Chania</h1>
                    <p class="canvas">The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
            </div>

            <div class="item">
                <img src="content/img/canvas01.jpg" alt="Chania" width="460" height="345">
                <div class="carousel-caption">
                    <h1 class="canvas">Chania</h1>
                    <p class="canvas">The atmosphere in Chania has a touch of Florence and Venice.</p>
                </div>
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    </div>
</section>
<!-- END OF Star Canvas Featured Section -->


<!-- Popular Cities Section -->
<section class="cities" id="cities">
    <div class="container">
        <div class="row">
            <div class="featured-font text-center gap40">
                POPULAR CITIES
            </div>
        </div>

		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <a href="http://www.google.com">
                    <img class="card-img-top" img src="content/img/malaysia.jpg" alt="Card image cap"></a>
            </div>
        </div>


		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <a href="http://www.google.com">
                    <img class="card-img-top" img src="content/img/singapore.jpg" alt="Card image cap"></a>
            </div>
        </div>


		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="card">
                <a href="http://www.google.com">
                    <img class="card-img-top" img src="content/img/jakarta.jpg" alt="Card image cap"></a>
            </div>
        </div>

    </div>
    </div>
</section>
<!-- END OF Popular Cities Section -->