<!-- forgotPasswordModal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="forgotPasswordModalLabel">Forgot Your Password</h4>
            </div>
            <div class="modal-body">
                <div>
                    <p>Enter your email below to reset password</p>
                </div>
                <form ng-submit="ctrl.login()">
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="modal-match input-group-addon"><i class="fa fa-envelope fa"
                                                                               aria-hidden="true"></i></span>

                                <input class="form-control" type="text" ng-model="ctrl.user.email" placeholder="Email"/>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success" value="Reset Password"
                           aria-label="Close"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END of forgotPasswordModal -->

<!-- Sign Up/Log In Modal -->
<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" ng-controller="ModalCtrl as modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <ul class="nav nav-tabs" role="tablist" style="width:95%">
                    <li role="presentation">
                        {{modal.openTab}}
                        <a ng-click="modal.selectTab('sign up')" aria-controls="join" role="tab" data-toggle="tab">Sign
                            Up</a>
                    </li>
                    <li role="presentation" class="active">
                        <a ng-click="modal.selectTab('login')" aria-controls="login" role="tab"
                           data-toggle="tab">Login</a>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content">
                    <!-- Sign Up Tab -->
                    <div role="tabpanel" class="tab-pane" ng-class="{'active': (modal.tab.open == 'sign up') }"
                         ng-controller="SignUpCtrl as ctrl">
                        <div>
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Sign Up with Facebook
                            </a>
                            <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Sign Up with Google
                            </a>
                            <a class="btn btn-block btn-social btn-linkedin">
                                <span class="fa fa-linkedin"></span> Sign Up with Linkedin
                            </a>
                        </div>
                        <div>

                            <center>Or enter your details below</center>

                        </div>
                        <div>
                            <form name="signUpForm" ng-submit="signUpForm.$valid && ctrl.signup()" novalidate="">
                                <div class="form-group">
                                    <div class="validation"
                                         data-ng-show="signUpForm.firstname.$touched || signUpForm.$submitted">
                                        <div data-ng-show="signUpForm.firstname.$error.required">
                                            <span class="glyphicon glyphicon-alert"></span>
                                            First name is required.
                                        </div>
                                    </div>

                                    <label for="firstname" class="cols-sm-2 control-label">Your Name</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">
                                            <span class="modal-match input-group-addon"><i class="fa fa-user fa"
                                                                                           aria-hidden="true"></i></span>

                                            <input id="firstname"
                                                   class="form-control"
                                                   name="firstname"
                                                   type="text"
                                                   required
                                                   ng-model="ctrl.firstname"
                                                   placeholder="First Name*"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="validation"
                                                 data-ng-show="signUpForm.lastname.$touched || signUpForm.$submitted">
                                                <div data-ng-show="signUpForm.lastname.$error.required">
                                                    <span class="glyphicon glyphicon-alert"></span>
                                                    Last name is required.
                                                </div>
                                            </div>
                                            <label for="lastname" class="cols-sm-2 control-label">Your Name</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="modal-match input-group-addon"><i class="fa fa-user fa"
                                                                                                   aria-hidden="true"></i></span>

                                                    <input id="lastname"
                                                           class="form-control"
                                                           name="lastname"
                                                           type="text"
                                                           required
                                                           ng-model="ctrl.lastname"
                                                           placeholder="Last Name*"/>
                                                </div>
                                                <div class="form-group">
                                                    <div class="validation"
                                                         data-ng-show="signUpForm.email.$touched || signUpForm.$submitted">
                                                        <div data-ng-show="signUpForm.email.$error.required">
                                                            <span class="glyphicon glyphicon-alert"></span>
                                                            Email is required.
                                                        </div>
                                                        <div data-ng-show="signUpForm.email.$error.email">
                                                            <span class="glyphicon glyphicon-alert"></span>
                                                            Enter a valid email.
                                                        </div>
                                                    </div>
                                                    <label for="email" class="cols-sm-2 control-label">Your
                                                        Email</label>
                                                    <div class="cols-sm-10">
                                                        <div class="input-group">

                                                            <span class="modal-match input-group-addon"><i
                                                                    class="fa fa-envelope fa"
                                                                    aria-hidden="true"></i></span>

                                                            <input id="email"
                                                                   class="form-control"
                                                                   name="email"
                                                                   type="email"
                                                                   required
                                                                   ng-model="ctrl.email"
                                                                   placeholder="Email*"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="validation"
                                                                 data-ng-show="signUpForm.password.$touched || signUpForm.$submitted">
                                                                <div data-ng-show="signUpForm.password.$error.required">
                                                                    <span class="glyphicon glyphicon-alert"></span>
                                                                    Password is required.
                                                                </div>
                                                                <div>
                                                                    Password strength:
                                                                    <!-- https://github.com/ablanco/jquery.pwstrength.bootstrap
                                                                       https://cdn.rawgit.com/ablanco/jquery.pwstrength.bootstrap/master/examples/bootstrap3/status.html-->
                                                                </div>
                                                            </div>
                                                            <label for="password" class="cols-sm-2 control-label">Password</label>
                                                            <div class="cols-sm-10">
                                                                <div class="input-group">
                                                                    <span class="modal-match input-group-addon"><i
                                                                            class="fa fa-lock fa-lg"
                                                                            aria-hidden="true"></i></span>

                                                                    <input id="password"
                                                                           class="form-control"
                                                                           name="password"
                                                                           type="password"
                                                                           required
                                                                           minlength="6"
                                                                           ng-model="ctrl.password"
                                                                           placeholder="Password*"/>
                                                                </div>
                                                                <div>
                                                                    By signing up you confirm that you accept the Terms
                                                                    of Service, Privacy Policy &
                                                                    Acceptable Use Policy
                                                                </div>
                                                                <div class="form-group">
                                                                    <input id="join"
                                                                           name="join"
                                                                           type="submit"
                                                                           class="btn btn-success"
                                                                           value="Join us"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                    <!-- Login Tab -->
                    <div role="tabpanel" class="tab-pane" ng-class="{active: (modal.tab.open == 'login')}"
                         ng-controller="LoginCtrl as ctrl">
                        <div>
                            <a class="btn btn-block btn-social btn-facebook">
                                <span class="fa fa-facebook"></span> Sign in with Facebook
                            </a>

                            <a class="btn btn-block btn-social btn-google">
                                <span class="fa fa-google"></span> Sign in with Google
                            </a>

                            <a class="btn btn-block btn-social btn-linkedin">
                                <span class="fa fa-linkedin"></span> Sign in with Linkedin
                            </a>
                        </div>
                        <div>
                            <p>
                            <center>Or</center>
                            </p>
                        </div>
                        <div>
                            <form name="logInForm" ng-submit="logInForm.$valid && ctrl.login()" novalidate="">
                                <div class="form-group">
                                    <div data-ng-show="logInForm.email.$error.required">
                                        <span class="glyphicon glyphicon-alert"></span>
                                        Email is required.
                                    </div>
                                    <div data-ng-show="logInForm.email.$error.email">
                                        <span class="glyphicon glyphicon-alert"></span>
                                        Enter a valid email.
                                    </div>
                                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group">

                                            <span class="modal-match input-group-addon"><i class="fa fa-envelope fa"
                                                                                           aria-hidden="true"></i></span>

                                            <input class="form-control" type="text" ng-model="ctrl.email"
                                                   placeholder="Email"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="validation"
                                                 data-ng-show="logInForm.password.$touched || logInForm.$submitted">
                                                <div data-ng-show="logInForm.password.$error.required">
                                                    <span class="glyphicon glyphicon-alert"></span>
                                                    Password is required.
                                                </div>
                                            </div>
                                            <label for="password" class="cols-sm-2 control-label">Password</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="modal-match input-group-addon"><i
                                                            class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

                                                    <input class="form-control" type="password" ng-model="ctrl.password"
                                                           placeholder="Password"/>
                                                </div>
                                                <div>
                                                    <a href="" data-toggle="modal" data-target="#forgotPasswordModal"
                                                       data-dismiss="modal" aria-label="Close">Forgot password?</a>
                                                </div>
                                                <input type="submit" class="btn btn-success" value="Log in"/>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!-- END of Sign Up/Log In Modal -->