<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">
                <img src="content/img/logo.png" alt="MatchSpace Logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="#">Editorial</a>
                </li>
                <li>
                    <a ui-sref="filter">filter</a>
                </li>
                <li>
                    <a ui-sref="detail">detailpage</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="ctrl.isUserLogon">
                    <a href="#">List Space</a>
                </li>
                <li ng-hide="ctrl.isUserLogon">
                    <a href="#">Recommend Space</a>
                </li>
                <li ng-hide="ctrl.isUserLogon">
                    <a href="#">Broker</a>
                </li>
                <li class="dropdown" ng-hide="ctrl.isUserLogon">
                    <a href="http://www.google.com" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">How it works<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://www.google.com">Action</a></li>
                        <li><a href="http://www.google.com">Another action</a></li>
                        <li><a href="http://www.google.com">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li ng-hide="ctrl.isUserLogon">
                    <a href="" id="loginSignup" data-toggle="modal" data-target="#logInModal">Sign Up/Log In</a>
                </li>
                <li ng-show="ctrl.isUserLogon">
                    <a ui-sref="userprofile">Profile</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
