@charset "utf-8";
/* CSS Document */

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }


/*! LEFT */

.glyphicon-star:before {
    content: "\e006";
    color: #e5a600;
}

.col-md-6 .detail {
    padding-right: 5px;
    padding-left: 5px;
}

.filter-img {
    margin: 0px;
}

h4.single-title-left {
	color: #5a5a5a;
	font-family: 'Open Sans', serif;
	font-size: 11px;
    text-transform: uppercase;
	font-weight: bold;
	

}

.filter-box {
	margin-top:10px;
	border: #cdcdcd thin solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 0px;
	padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.filter-box-right {
    margin-top: 20px;
    border: #cdcdcd thin solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 0px;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
	}
	
@media (max-width: 375px) {
.filter-box-right {
    margin-top: 80px;
}
}

h4.single-location {
	color: #5a5a5a;
	font-family: 'Open Sans', serif;
	font-size: 13px;
    text-transform: none;
	    letter-spacing: 0.05em;
}

h4.single-capacity {
	color: #5a5a5a;
	font-family: 'Open Sans', serif;
	font-size: 13px;
    text-transform: none;
	font-weight: bold;
	margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.filter-link:link {
	font-weight: bold;
	color:#e5a600;
	font-size: 12px;
	}
	
a.filter-link:hover {color:#000;}







/*! RIGHT */


hr.style1{
	border-top: 1px solid #c5c5c5;
}

.glyphicon-heart:before {
    content: "\e005";
    color: #b97480;
}

.single-button-heart {
	background-color: #e5a600 !important;
	color: #333!important;
    border-color: #e5a600!important;
}
.single-button-heart:hover {
	background-color: #49247A !important;
	color: #fff!important;
    border-color: #49247A !important;
}

.single-buttons {
	background-color: #e5a600 !important;
	color: #fff!important;
    border-color: #e5a600!important;
	font-weight: bold;
}
.single-buttons:hover { 
  color: #FFFFFF; 
  background-color: #49247A !important;
  border-color: #e5a600;
  border-radius: 0px;
  border-style: none;
} 





h1.single-title {
	color: #e5a600;
	font-family: 'Playfair Display', serif;
	font-size: 45px;
  	text-transform: none;
  	font-weight: 200;
}

h4.single-title {
	color: #000;
	font-family: 'Open Sans', serif;
	font-size: 13px;
    text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1em;

}

.similar-listings {
	margin-top: 0px;
	text-align: left;
}


.single-content {
	margin-top: 100px;
	text-align: left;
}

@media (max-width: 375px) {
.single-content {
	margin-top: 20px;
	text-align: left;
}
}

.single-p {
	color: #000;
}

.single-paragraph {
	    text-align: justify;
		color:#3b3b3b;
}

.single-box {
	margin-top:10px;
	border: #cdcdcd thin solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}


