/*! my css rules */

/* Portrait phones and smaller */
@media (max-width: 480px) {
.form-group.filter {
	margin-left: 10px;
}
}


.well {
    background-image: none !important;
}
	

.filter.dropdown-menu {
    background-color: #e5a600 !important;
}

@media (min-width: 375px) {

.fixed-element {
  border-bottom: solid 1px #c6cacd;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 4px rgba(49, 49, 64, 0.1);
  margin-top:120px;
  -webkit-transition: margin 0.3s linear;
  -moz-transition: margin 0.3s linear;
  -o-transition: margin 0.3s linear;
  transition: margin 0.3s linear;
}
}

/*! FILTER - SEARCH ENGINE */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}




/*! FILTER SPECS */

.filter-buttons {
    color: #333 !important;
    background-color: #e5a600!important;
    border-color: #fff!important;
}

.filter-content {
	margin-top: 150px;
	text-align: left;
}

.filter.p {
	color: #000;
}

.filter.title {
	font-weight: bold;
}

.filter-box {
	margin-top:10px;
	border: #cdcdcd thin solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.filter-img {
	margin: 5px 5px 5px 5px;
}

.filter.from {
	font-weight: bold;
	color:#737373;
	font-size: 10px;
}
.filter.price {
	font-weight: bold;
	color:#000;
	font-size: 18px;
}


a.filter-link:link {
	font-weight: bold;
	color:#e5a600;
	font-size: 12px;
	}
	
a.filter-link:hover {color:#000;}



/*! FILTER OPTIONS */

.filter-top {
	margin-top: 14px;
}

.filter-top2 {
margin-top: 10px;
    margin-left: -90px;
	}


.well.filter {
    min-height: 20px;
    padding: 0px;
    margin-bottom: 0px;
    background-color: #000;
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.form-control.filter {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #f5f5f5;
    background-color: #000;
    background-image: none;
    border: 0px solid #ccc;
}

/*! SECOND NAVIGATION */
.navbar-default2 {
	z-index: 990;
    background-color: #000 !important;
	color: #FFF;
}

.affix {
  padding: 0;
  -webkit-transition: padding 0.4s linear;
  -moz-transition: padding 0.4s linear;
  -o-transition: padding 0.4s linear;
  transition: padding 0.4s linear;
}

.affix-top {
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-transition: padding 0.3s linear;
  -moz-transition: padding 0.3s linear;
  -o-transition: padding 0.3s linear;
  transition: padding 0.3s linear;
}

/* === */

.fixed-element {
  border-bottom: solid 1px #c6cacd;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 4px rgba(49, 49, 64, 0.1);
  margin-top:62px;
  -webkit-transition: margin 0.3s linear;
  -moz-transition: margin 0.3s linear;
  -o-transition: margin 0.3s linear;
  transition: margin 0.3s linear;
}
.fixed-element.affix{
    margin-top:51px;
    -webkit-transition: margin 0.3s linear;
    -moz-transition: margin 0.3s linear;
    -o-transition: margin 0.3s linear;
    transition: margin 0.3s linear;
}

/*! SECOND NAVIGATION (FILTER OPTIONS) - 7 COLUMN RULE*/


@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}



