/*! my css rules */


/*! TYPES OF SEARCH ENGINE */

/*! TYPES OF SPACES MEDIA
REMINDER: FEATURED * MOBILE OVERLAY
*/

@media (max-width: 375px) {
    .hovereffect h2 {
        padding-top: 600px;
    }
}

@media (min-width: 667px) {
    .hovereffect h2 {
	padding: 400px 0 10px 0;
}
}


@media (min-width: 375px) {
    .card {
        margin-bottom: 10px;
    }
}

@media (min-width: 375px) {
    .carousel-caption {
        bottom: 220px;
    }
}

/*! search engine */

.btn-stylish {
    color: #FFFFFF;
    background-color: #E5A600;
    border-color: #e5a600;
    border-radius: 0px !important;
    border-style: none;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.btn-stylish:hover,
.btn-stylish:focus,
.btn-stylish:active,
.btn-stylish.active,
.open .dropdown-toggle.btn-stylish {
    color: #FFFFFF;
    background-color: #49247A;
    border-color: #e5a600;
    border-radius: 0px;
    border-style: none;

}

.btn-stylish:active,
.btn-stylish.active,
.open .dropdown-toggle.btn-stylish {
    background-image: none;
}

.btn-stylish.disabled,
.btn-stylish[disabled],
fieldset[disabled] .btn-stylish,
.btn-stylish.disabled:hover,
.btn-stylish[disabled]:hover,
fieldset[disabled] .btn-stylish:hover,
.btn-stylish.disabled:focus,
.btn-stylish[disabled]:focus,
fieldset[disabled] .btn-stylish:focus,
.btn-stylish.disabled:active,
.btn-stylish[disabled]:active,
fieldset[disabled] .btn-stylish:active,
.btn-stylish.disabled.active,
.btn-stylish[disabled].active,
fieldset[disabled] .btn-stylish.active {
    background-color: #E5A600;
    border-color: #e5a600;
}

.btn-stylish .badge {
    color: #E5A600;
    background-color: #FFFFFF;
}

.stylish-input-group .input-group-addon {
    background-color: rgba(255, 255, 255, 0.68) !important;
}

.input-group-addon {
    padding: 6px 3px;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0 0;
    border-color: #ccc;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: rgba(255, 255, 255, 0.68);
}

.search-field {
    font-size: 25px;
    font-weight: bold;
}

@media (min-width: 375px) {
.search-field {
    font-size: 21px;
    font-weight: bold;
}
}

/*! IMAGE HOVER */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%, #e5a600 100%);
}

@media (min-width: 768px) {
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%, #e5a600 100%);
		    margin-bottom: 0px;

}
}


@media (max-width: 667px) {
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%, #e5a600 100%);
	    margin-bottom: 20px;
}
}

@media (max-width: 375px) {
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%, #e5a600 100%);
	    margin-bottom: 20px;
}
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 3em;
    text-align: left;
}

.hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 27px;
    background-color: transparent;
    padding: 296px 0 10px 0;
    text-align: center;
    font-weight: bold;
}

.hovereffect.large h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 40px;
    background-color: transparent;
    padding: 150px 0 10px 0;
    text-align: center;
    font-weight: bold;
}

/* Landscape phones and portrait tablets */
@media (max-width: 667px) {
.hovereffect.large h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 27px;
    background-color: transparent;
    padding: 100px 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.hovereffect.large h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 27px;
    background-color: transparent;
    padding: 10px 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}

@media (min-width: 1024px) {
.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 27px;
    background-color: transparent;
    padding: 296px 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}

@media (min-width: 375px) {
.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 27px;
    background-color: transparent;
    padding: 130px 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}

@media (min-width: 667px) {
.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 40px;
    background-color: transparent;
    padding: 150px 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}




.hovermedium h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 27px;
    background-color: transparent;
    padding: 45% 0 10px 0;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 375px) {
.hovermedium h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 20px;
    background-color: transparent;
    padding: 45% 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}

@media (min-width: 667px) {
.hovermedium h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 30px;
    background-color: transparent;
    padding: 25% 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}


@media (min-width: 1024px) {
.hovermedium h2 {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 27px;
    background-color: transparent;
    padding: 24% 0 10px 0;
    text-align: center;
    font-weight: bold;
}
}


.hovereffect .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid #fff;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
}

.hovereffect:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover .overlay:before,
.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*! BODY P IMG */

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 13px;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0.4px;
}

p.small {
    font-size: 12px;
    line-height: 1.5;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #2C3E50;
    outline: none;
}

a:hover {
    color: #23527c;
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

img {
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.img-centered {
    margin: 0 auto;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .name {
        font-size: 4.75em;
    }

    header .intro-text .skills {
        font-size: 1.75em;
    }
}

/*! Gaps */

.gap {
    margin-bottom: 50px;
}

.gap40 {
    margin-bottom: 40px;
}

.gap20 {
    margin-bottom: 20px;
}

.gap100 {
    margin-bottom: 100px;
}

.gap150 {
    margin-bottom: 150px;
}

/*! nav bar */


.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #fea;
    white-space: nowrap;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fcf8e3;
    font-size: 12px;
    white-space: nowrap;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        background-color: #2c3e50;

    }
}

@media (min-width: 768px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        background-color: #2c3e50;

    }
}

.navbar-default {
    background-color: #e5a600 !important;
    border-color: #e5a600 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}

.navbar-custom {
    background: #e5a600;
    font-family: 'Rufina', serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

.navbar-custom a:focus {
    outline: none;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: white;
}

.navbar-custom .navbar-nav {
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    margin-top: 19px;
}

.navbar-custom .navbar-nav li a {
    color: white;
}

.navbar-custom .navbar-nav li a:hover {
    color: #000;
    outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
    color: white;
}

.navbar-custom .navbar-nav li.active a {
    color: white;
    background: #e5a600;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
    color: white;
    background: #2C3E50;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
}

.navbar-custom .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #000;
    color: white;
    border-color: #000;
}

@media (min-width: 375px) {

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 17px;
        margin-right: 30px;
        margin-bottom: 8px;
        background-color: #000;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .navbar-custom .navbar-toggle {
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        border-color: white;
        font-family: lato;
    }
}

@media (min-width: 667px) {

    .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 17px;
        margin-right: 20px;
        margin-bottom: 8px;
        background-color: #000;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .navbar-custom .navbar-toggle {
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        border-color: white;
        font-family: lato;
    }
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 1px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
    }

    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .navbar-custom.affix {
        padding: 1px 0;
    }

    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    width: 100%;
    height: 100%;
}

@media (min-width: 375px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	width: 50%;
    height: 50%;
    margin-top: 5px;
	}
}

@media (min-width: 667px) {

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        width: 20%;
        height: 20%;
    }
}


@media (min-width: 640px) {

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        width: 30%;
        height: 30%;
    }
}

@media (min-width: 768px) {

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1024px) {

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        width: 100%;
        height: 100%;
    }
}

/*! SECTION */

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    background: #2C3E50;
    color: white;
}

@media (max-width: 767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

/*! HEADER */

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    background: #000 url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-top: -104px;
    text-shadow: 0 0 8px #fcf8e3;
	font-size: 60px;
    text-transform: uppercase;
}

@media (max-width: 767px) {
.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    background: #000 url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    text-shadow: 0 0 8px #fcf8e3;
}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    text-align: center;
    background: #000 url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-family: 'Lato', sans-serif;
    margin-top: 0px;
    text-shadow: 0 0 8px #fcf8e3;
}
}

.introp {
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0 0 3px #fcf8e3;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0px;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.intro .intro-body {
display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 1em;
	}
}

/* Portrait phones and smaller */
@media (max-width: 375px) {
	.intro .intro-body {
        display: table-cell;
        vertical-align: middle;
    	font-family: 'Open Sans', sans-serif;
        font-size: 50px;
        letter-spacing: 0.5px;
        color: #fff;
    text-transform: uppercase;
        line-height: 1.1em;
        padding-top: 100px;
    }
}


@media (max-width: 667px) {
    .introp {
        font-size: 12px;
		line-height: 1.3em;
    }
}

.intro .intro-body .brand-heading {
    margin-top: 100px;
    font-size: 40px;
    color: #333;
    font-family: 'Playfair Display', serif;

}

.intro .intro-body .intro-text {
    font-size: 18px;
    font-family: 'Rufina', serif;

}

.header.img-responsive {
    margin: 0 auto;
    margin-top: -133px;
    margin-bottom: 100px;
}

/*! LEARN */

section.learn {
    background: #dadada;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 8px;
}

.learn-pfont {
    color: #000;
    font-size: 14px;
}

/*! button learn */
.btn.learn {
    border: 1px solid #757575;
}

.btn-block.learn {
    padding: 10px 16px;
    font-size: 29px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #6d6d6d;
    font-family: 'Open Sans', sans-serif;
	border: solid 1px #6d6d6d;
}
@media (min-width: 1024px) {
.btn-block.learn {
    padding: 10px 16px;
    font-size: 29px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #6d6d6d;
    font-family: 'Open Sans', sans-serif;
	border: solid 1px #6d6d6d;
}
}


@media (max-width: 375px) {
.btn-block.learn {
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #6d6d6d;
    font-family: 'Open Sans', sans-serif;
	border: solid 1px #6d6d6d;
}
}


/*! END LEARN */

/*! CANVAS - STAR - CAROUSEL */

section-star {
    background-color: #fff;
    color: #000;
    padding-bottom: -100px;
}

.star-pfont {
    color: #333333;
    font-size: 18px;
}

.star-font {
    color: #333333;
    font-family: 'Open Sans', serif;
    font-size: 19px;
    font-weight: bolder;
}

p.canvas {
    color: #fff;
    font-size: 18px;
    margin-top: -11px;
}

h1.canvas {
    font-size: 80px;
}
@media (max-width: 480px) {
h1.canvas {
    font-size: 40px;
}
}

.carousel-caption {
    bottom: 362px;
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.carousel-caption {
    bottom: 218px;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.carousel-caption {
    bottom: 94px;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.carousel-caption {
    bottom: 40px;
}
}


/*! FEATURED */

.featured-font {
    color: #333333;
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.09em;
}

#featured .featured-item {
    margin: 0 0 15px;
    right: 0;
}

#featured .featured-item .featured-link {
    display: block;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

#featured .featured-item .featured-link .caption {
    background: rgba(40, 106, 171, 0.22);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
}

#featured .featured-item .featured-link .caption:hover {
    opacity: 1;
}

#featured .featured-item .featured-link .caption .caption-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
}

#featured .featured-item .featured-link .caption .caption-content i {
    margin-top: -12px;
}

#featured .featured-item .featured-link .caption .caption-content h3,
#featured .featured-item .featured-link .caption .caption-content h4 {
    margin: 0;
}

#featured * {
    z-index: 2;
}

@media (min-width: 375px) {
    #featured .featured-item {
        margin: 0 0 60px;
    }
}

@media (min-width: 1024px) {
    #featured .featured-item {
        margin: 0 0 30px;
    }
}


/*! POPULAR CITIES */

section.cities {
    background-color: #edefed;
    color: #000;
}

.cities-pfont {
    color: #000;
    font-size: 14px;
}

.cities-font {
    color: #000;
    font-family: 'Open Sans', serif;
    font-size: 15px;
    font-weight: bold;
}

/*! NEWSLETTER */

section.newsletter {
    background: #dadada;
    color: #000;
}

.newsletter-pfont {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.newsletter-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 22px 18px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 300px;
}

.newsletter-submit {
    color: #FFFFFF;
    background-color: #E5A600;
    border-color: #e5a600;
    border-radius: 0px !important;
    border-style: none;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    height: 43px;
}


/* Portrait phones and smaller */
@media (max-width: 1024px) {
.form-group {
	margin-left: 180px;
}
}

/* Portrait phones and smaller */
@media (min-width: 667px) {
.form-group {
	margin-left: 0px;
}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
.form-group {
	margin-left: 34px;
}
}

/*! footer */
p.footer {
    color: #FFF;
}

footer {
    color: white;
	list-style-type: none;
	padding:0;
	margin:0;
}

footer a {
	color: #fff;
}

footer a:hover {
    color: #e5a600;
    text-decoration: none !important;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #191919;
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #000;
}


/*! BUTTON */

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #000;
}

.btn-outline {
    color: white;
    font-size: 17px;
    border: solid 2px white;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
    border: solid 2px white;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    color: #fff;
    border: dotted 2px white;
}

.btn-primary {
    color: white;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #2c3e50;
    background-color: #fea;
    border-color: #161f29;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-primary .badge {
    color: #2C3E50;
    background-color: white;
}

.btn-success {
    color: white;
    background-color: #2C3E50;
    border-color: #2C3E50;
    font-weight: 700;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: white;
    background-color: #128f76;
    border-color: #11866f;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-success .badge {
    color: #2C3E50;
    background-color: white;
}


.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
}

.scroll-top .btn {
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: none;
}

.modal-header {
    border-bottom: none;
}